
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.card-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.row p {
    font-size: 18px;
    margin-bottom: 10px;
}


.row p strong {
    font-weight: bold;
    margin-right: 5px;
}

.card-body {
    background-color: #f8f9fa;
}
